[build-system]
build-backend = "flit.buildapi"
requires = [
    "flit",
]

[project]
authors = [
    { name = "Kieran Ryan" },
]
name = "pyprojectsort"
description = "Autoformatter for pyproject.toml files"
readme = "README.md"
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Intended Audience :: Developers",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.10",
]
dependencies = [
    "tomli==2.0.1",
    "tomli-w==1.0.0",
]
dynamic = [
    "version",
]

[project.scripts]
pyprojectsort = "pyprojectsort.main:main"

[project.urls]
Documentation = "https://kieran-ryan.github.io/pyprojectsort/"
Source = "https://github.com/kieran-ryan/pyprojectsort"
Tracker = "https://github.com/kieran-ryan/pyprojectsort/issues"

[tool.flit.module]
name = "pyprojectsort"

[tool.bandit]
exclude_dirs = [
    "tests",
    "venv",
]

[tool.black]
preview = true

[tool.coverage.html]
directory = "docs/coverage"

[tool.coverage.run]
branch = true
omit = [
    "*/tests/*",
    "*/venv/*",
]

[tool.coverage.report]
fail_under = 75.0
show_missing = true

[tool.coverage.xml]
output = "docs/coverage/coverage.xml"

[tool.isort]
profile = "black"
src_paths = "pyprojectsort"

[tool.radon]
exclude = "tests/*,venv/*"
show_complexity = true
show_mi = true
total_average = true

[tool.ruff]
select = [
    "ALL",
    "I002",
]
ignore = [
    "ANN",
    "ARG",
    "DTZ005",
    "D203",
    "D213",
    "G004",
    "INP001",
    "S101",
    "T201",
]

[tool.ruff.isort]
required-imports = [
    "from __future__ import annotations",
]

[tool.ruff.pydocstyle]
convention = "google"

[tool.mypy]
mypy_path = "pyprojectsort"
files = "."
exclude = "__init__.py|docs|tests|venv"

[tool.pylint]
recursive = true
ignore = [
    "docs",
    "tests",
    "venv",
]

[tool.pytest.ini_options]
addopts = "--doctest-modules -rA --verbose"
testpaths = [
    "pyprojectsort",
    "tests",
]
